.main1{
  display:flex;
  height: 100vh;
  position:fixed ;

}

.flex{
  display: flex;
}

/*  header    */

.justify{
  margin-left: 20vw;
}

.mainnav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background:  hsl(257, 40%, 49%);
  height: 100vh;
}
.secondarynav{
  flex: 4;
}
.navs {
  display: flex;
  box-shadow: 0px 0px 5px 0px #4e4c4c;
  width: auto;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px
}

.Btn {
  height: 45px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  background: linear-gradient(to right, hsl(257, 40%, 49%), hsl(300, 69%, 71%));
  transition-duration: .3s;
  letter-spacing: 1.4px;
}

.Btn1 {
  height: 45px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  background: linear-gradient(to left, hsl(257, 40%, 49%), hsl(300, 69%, 71%));
  transition-duration: .3s;
  letter-spacing: 1.4px;
}

.svgIcon path {
  fill: white;
}

.Btn:hover {
  transform: scale(0.99);
  transition-duration: .3s;
}

.Fimenu {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  transform: scale(1.5);
}

/*  end headerrr  */


/* Question Sectio */

.Question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;


}

.Questionn_umber {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border: none;
  margin-left: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  color: #000000;
  background-color: #ffff;
  border-radius: 10px;
  height: auto;
  width: 65vw;
  padding: 10px;
  margin: 0px 0px 0 20px;
}

.myCheck {
  width: 100%;
  border: none;
  stroke: none;
}
/*  choix de Qcm section de choix de qcm */

.choix {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  color: #000000;
  background-color: #ffff;
  border-radius: 10px;
  height: auto;
  width: 72vw;
  padding: 10px;
  margin: 0px 0px 0 10px;
}

/* options  section */

.main_options{
  margin-left: 3vw;
}

.options {
  display: flex;
  align-items: center;
}

.options>div>p {
  margin-left: 20px;
  padding: 2px;
  border-radius: 5px;
  height: auto;
  background-color: #ffff;
}
.options :nth-child(2){
  width: 95%;
}
/*  end of section option */


/* Custom Checkbox */

.switch {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 2px;
}


.slider {
  display: flex;justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}


input:checked+.slider {
  background-color: #2196F3;
}

/*  End of custom Checkbox */