*{
  text-decoration: none;
}

.main1 {
  display: flex;
  height: 100vh;
  position: fixed;

}

.flex {
  display: flex;
}
.spbt{
  justify-content: space-between;
}
.pad10{
  padding: 20px;
}

/*  header    */

.justify {
  margin-left: 20vw;
}

.mainnav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background: hsl(0, 0%, 21%);
  height: 100vh;
}

.secondarynav {
  flex: 4;
}

.navs {
  display: flex;
  box-shadow: 0px 0px 5px 0px #4e4c4c;
  width: auto;
  cursor: pointer;
  border-radius: 10px;
  margin: 15px
}

.Btn {
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgb(243, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  background: rgba(64, 84, 139, 0.829);
  transition-duration: .3s;
  letter-spacing: 1.4px;
}

.Btn1 {
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgb(243, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  background: rgba(64, 84, 139, 0.829);
  transition-duration: .3s;
  letter-spacing: 1.4px;
}

.svgIcon path {
  fill: white;
}

.Btn:hover {
  transform: scale(0.99);
  transition-duration: .3s;
}

.Fimenu {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  transform: scale(1.5);
}

/*  end headerrr  */


/* Question Sectio */

.col{
  flex-direction: column;
}

.Question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 0 0 0;


}

.Questionn_umber {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border: none;
  margin-left: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  color: #000000;
  background-color: #ffff;
  border-radius: 10px;
  height: auto;
  width: 65vw;
  padding: 10px;
  margin: 0px 0px 0 10px;
}

.myCheck {
  width: 100%;
  border: none;
  stroke: none;
}

.Asubmit{
  display: flex;
  justify-content: flex-end;
}
.submitbtn{
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  cursor: pointer;
  background: #05a705;
  transition-duration: .3s;
  letter-spacing: 1.4px;
}
/*  Fin */

/*  choix de Qcm section de choix de qcm */

.choix {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  color: #000000;
  background-color: #ffff;
  height: auto;
  width: 72vw;
  padding: 5px;
  margin: 0px 0px 0 10px;
}

.user1{display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.imguser {
  color: white;
  font-size: xx-large;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
}
.user{
  margin-top: 20vh;
  flex-direction: column;
  border: 1px solid #fcfcfc;
  padding: 20px;
}

.user > * {
  margin: 10px;
  outline: none;
}
/* options  section */

.main_options {
  margin-left: 3vw;
}

.options {
  display: flex;
  align-items: center;
}

.options>div>p {
  margin-left: 20px;
  padding: 2px;
  border-radius: 5px;
  height: auto;
  background-color: #ffff;
  padding-left: 10px;
}

.options :nth-child(2) {
  width: 95%;
}

.control{
  width: 70vw;
  position: absolute;
  bottom: 0;
}
/* .control > button{
  margin-left: 30%;
} */

/*  end of section option */


/* Custom Checkbox */

.switch {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 2px;
}


.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}


input:checked+.slider {
  background-color: #2196F3;
}

/*  End of custom Checkbox */


/* create question section  "CREATE" */

.center {
  display: flex;
  justify-content: center;
}

.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.center>h2 {
  text-align: center;
  color: white !important;
  text-transform: capitalize;
  font-size: xx-large;
  border-bottom: 1px solid white;
  background-color: #ffffff00;
  width: 30vw;
  padding: 10px;
}

.MainCreate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px 0px 0px;
}

.CreateAnswer {
  flex-direction: column;
}

.CreateAnswer>input {
  margin: 5px;
  width: 30vw;
  outline: none;
}

label{
  text-transform: capitalize;
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

input{
  padding: 10px;
  background-color: rgba(181, 183, 189, 0);
  color: white;
  font-size: large;
  font-weight: bolder;
}

.CreateQuestion {
  flex-direction: column;

}

.CreateQuestion>input {
  margin: 30px 0px 20px 10px;
  width: 25vw;
  outline: none;
}

.CreateAnswer>label {
  font-size: larger;
  font-weight: bolder;
}

.exite {
  height: 40px;
  width: 10vw;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  background: #b90c0c;
  transition-duration: .3s;
  letter-spacing: 1.4px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.margint{
  padding-top: 10vh;
}

/*  End of "CREATE" */