.main1{
  display:flex;

}

.mainnav {
  display: flex;
  flex: start;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.secondarynav{
  flex: 4;
}
.navs {
  display: flex;
  box-shadow: 0px 0px 5px 0px #4e4c4c;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0px 0px 0px 10px;
  ;
}

.Btn {
  height: 45px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  background: linear-gradient(to right, hsl(257, 40%, 49%), hsl(300, 69%, 71%));
  transition-duration: .3s;
  letter-spacing: 1.4px;
}

.Btn1 {
  height: 45px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  background: linear-gradient(to left, hsl(257, 40%, 49%), hsl(300, 69%, 71%));
  transition-duration: .3s;
  letter-spacing: 1.4px;
}

.svgIcon path {
  fill: white;
}

.Btn:hover {
  transform: scale(0.99);
  transition-duration: .3s;
}

.Btn::before {
  content: "";
  position: absolute;
  height: 30%;
  background: linear-gradient(to right, #44ea76, #39fad7);
  filter: blur(10px);
  bottom: -3px;
  z-index: -1;
  transition-duration: .3s;
}

.Btn:hover::before {
  bottom: -1px;
  filter: blur(5px);
  transition-duration: .3s;
}

.Fimenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
  color: white;
  transform: scale(1.5);
}


/* Question Sectio */

.Question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;


}

.Questionn_umber {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border: none;
  margin-left: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  color: #000000;
  background-color: #ffff;
  border-radius: 20px;
  height: auto;
  width: 90vw;
  padding: 20px;
  margin: 0px 0px 0 20px;
}

.myCheck {
  width: 100%;
  border: none;
  stroke: none;
}

/* options  section */

.main_options{
  margin-left: 3.5vw;
}

.options {
  display: flex;
  align-items: center;
}

.options>div>p {
  margin-left: 20px;
  padding: 6px;
  border-radius: 5px;
  height: auto;
  background-color: #ffff;
}
.options :nth-child(2){
  width: 95%;
}


/* Custom Checkbox */

.switch {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px;
}


.slider {
  display: flex;justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}


input:checked+.slider {
  background-color: #2196F3;
}

/*  End of custom Checkbox */