body {
  margin: 0;
  text-decoration: none;
  background-image: url(./composants/images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
