body {
  margin: 0;
  text-decoration: none;
  background-image: url(./composants/images/bg-desktop.svg);
  background-color: hsl(233, 22%, 7%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.time {
  color: aliceblue;
}

.qbot {
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
}